{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif">
    <link rel="stylesheet" href="{% static "css/messages_for_friends.css" %}">
    <title>{% block title %}Messages4Friends{% endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'me' %}">Me</a>
            <a class="navbar-brand" href="{% url 'current_time' %}">Current time</a>
            <a class="navbar-brand" href="{% url 'friends' %}">Friends</a>
          </div>
        </div>
      </nav>

    <p></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">

      {% block content %}
      {% endblock %}

          </div>
        </div>
      </div>
    </div>
    <!--<footer class="blog-footer">
      <p>2018</p>
    </footer>-->
    </body>
  </html>
